video {
  cursor: url(../cursor/cursor.svg), auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
body {
  cursor: url(../cursor/cursor.svg), auto;
  background-color: #1c0c2d;
  background-position: 0px, 0px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
.container {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
  position: absolute;
  background-size: cover;
  background-position: 0px, 0px;
  background-repeat: no-repeat;
  cursor: url(../cursor/cursor.svg), auto;
  -webkit-mask-size: 70vmin;
  -webkit-mask-repeat: no-repeat;
  mask-size: 70vmin;
  mask-repeat: no-repeat;
}
.btn {
  width: 1602px;
  height: fit-content;
  position: fixed;
  cursor: url(../cursor/cursor.svg), auto;
}
.button {
  cursor: url(../cursor/cursor.svg), auto;
  color: #6de2d5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: bold;
  display: block;
  margin-left: 890px;
  margin-top: 550px;
  font-size: 16px;
}
.mainText {
  width: 10100%;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: -5000%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url(../cursor/cursor.svg), auto;
}
.pmainText {
  cursor: url(../cursor/cursor.svg), auto;
  color: white;
  font-size: 45px;
  font-family: "Space Mono", monospace;
  width: 20em;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.page2 {
  background-color: #6de2d5;
  background-position: 0px, 0px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.15, 1.15);
  }
}

.popup {
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin: 0px;
  display: none;
  height: 100%;
  text-align: center;
  width: 1920px;
}

.pp {
  cursor: url(../cursor/cursor.svg), auto;
  color: white;
  font-size: 25px;
  font-family: "Space Mono", monospace;
  margin-top: 5%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
